<div class="container">
  {{if .Facts}} {{ range .Facts }}
  <div class="fact-item">
    <div class="question-wrapper">
      <p class="question">{{ .Question }}</p>
      <div class="btn-wrapper">
        <form action="/delete" method="post">
          <input type="hidden" name="ID" value="{{.ID}}" />
          <button id="delete-btn" class="delete-btn" type="submit">
            Delete
          </button>
        </form>
        <button id="answer-toggle" class="answer-toggle">Toggle answer</button>
      </div>
    </div>
    <div class="answer-wrapper">
      <p class="answer">{{.Answer}}</p>
    </div>
  </div>
  {{ end }} {{else}}
  <div class="no-facts">
    <p>No facts yet.</p>
    <p><a href="/newfact">Add New</a></p>
  </div>
  {{end}}
</div>

<script src="/javascript/app.js"></script>
